@model IEnumerable<PickAuto.Models.CarModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gearbox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WheelDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gearbox.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelDrive.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
